/.vscode
/24-06
/Coursera
/desktop.ini
/Password (Numbers).py
/Password copy.py
/Password.py
/Python Cheat List.jpeg
/Python Functions.jpeg
/Python List-Tuple-Set-Dictionary.png
/Sorting Algorith.py
/Sound.mp3
/USB (Only copy).py
/USB (Only copy).pyw
/workspace.code-workspace
/Agenda.txt
/README.md
/Python File Opening Modes
/Gmail.ink
/BirthdaysCheck.py
/birthday.txt
/BirthdaysCheck.pyw